@using WebTestOfVMC.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EnumExt;
@using RailDBProject.Model;

@model UserInfo
<form asp-action="CreateUser" asp-controller="User" data-ajax="true"
          data-ajax-method="POST" data-ajax-success="emailError">
        <div class="text-center">

            <div class="form-group">
                @Html.HiddenFor(Model => Model.UserId)
                <br />
                @Html.LabelFor(Model => Model.LastName)
                @Html.EditorFor(Model => Model.LastName)
                @Html.ValidationMessageFor(Model => Model.LastName)
                <br />
                @Html.LabelFor(Model => Model.FirstName)
                @Html.EditorFor(Model => Model.FirstName)
                @Html.ValidationMessageFor(Model => Model.FirstName)
                <br />
                @Html.LabelFor(Model => Model.SurName)
                @Html.EditorFor(Model => Model.SurName)
                @Html.ValidationMessageFor(Model => Model.SurName)
                <br />
                @Html.LabelFor(Model => Model.Email)
                @Html.EditorFor(Model => Model.Email)
                @Html.ValidationMessageFor(Model => Model.Email)
                <br />
                @Html.LabelFor(Model => Model.Login)
                @Html.EditorFor(Model => Model.Login)
                @Html.ValidationMessageFor(Model => Model.Login)
                <br />
                @Html.LabelFor(Model => Model.Password)
                @Html.EditorFor(Model => Model.Password)
                @Html.ValidationMessageFor(Model => Model.Password)
                <br />
                @Html.LabelFor(Model => Model.Organisation)<br />
                @Html.DropDownListFor(Model => Model.OrganisationId, Model.SelectList)
                <br />
                @if (ViewContext.HttpContext.User.Identity.IsAuthenticated == true)
                {
                    
                    @Html.LabelFor(Model => Model.UserRole)
                    @Html.DropDownListFor(Model => Model.UserRole, Model.UserRole.GetSelectList(), new { id = "normaldropdown" })
                    @Html.ValidationMessageFor(Model => Model.UserRole)
                }
            </div>

            <div>
                <input type="submit" class="btn btn-outline-dark" value="Создать" id="sub" />
            </div>

        </div>
    </form>


@section Scripts{
    <script>
        $(function () {
            $("#normaldropdown").chosen();
        });

        $(function () {
            $("#multidropdown").chosen();
        });
    </script>
}














