
@using WebTestOfVMC.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EnumExt;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using CommonClasses.PaginationAndSort;
@using RailDBProject.Model;

@model IndexViewModel

<p class="p1">Пользователи</p>
<form method="get">
    <div class="form-inline">

        <label>Организация: </label>
        <select name="company" asp-items="Model.FilterViewModel.Organisations" class="form-control"></select>

        <input type="submit" value="Фильтр" class="btn btn-outline-dark" />
    </div>
</form>
<br />


<div class="table">

    <table class="table">
        <tr class="p1 intable">
            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.LastNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Фамилия</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.FirstNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Имя</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.MiddleNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Отчество</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.OrganisationSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Организация</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.EmailSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">E-mail</p></a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.UserRoleSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Группа</p></a>
            </th>
            <th></th>
            <th></th>
        </tr>

        @foreach (User u in Model.Users)
        {

            <tr>

                <td>@u.LastName</td>
                <td>@u.FirstName</td>
                <td>@u.SurName</td>
                <td>@u.Organisation.OrgName</td>
                <td>@u.Email</td>
                <td>@u.UserRole.GetEnumDescription()</td>

                <td>

                    @await Component.InvokeAsync("UpdateUser", u.UserId)

                </td>
                <td class="btn-td">
                    <form asp-action="DeleteUser" asp-controller="User" asp-route-id="@u.UserId" data-ajax="true"
                          data-ajax-method="POST" data-ajax-success="onSuccess">

                        <input type="submit" class="btn btn-outline-dark" value="Удалить" id="btsubmit" />

                    </form>
                </td>
            </tr>
        }

    </table>
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}


@section Scripts{

    <script>
        function onSuccess(data) {
            $(document).on("ajaxSuccess", function () {
                window.location = data.newData.url;
            });
        }
    </script>
}