
@using WebTestOfVMC.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using EnumExt;
@using Microsoft.AspNetCore.Mvc.Rendering;
@using CommonClasses.PaginationAndSort;
@using RailDBProject.Model;

@model IndexViewModel

<p class="p1">Пользователи</p>
<br />


<div class="table">

    <div id="manipulation-buttons">
        <div class="edit-button">
            @await Component.InvokeAsync("UpdateUser")
        </div>
        <div class="delete-button">
                <input type="submit" class="btn btn-outline-dark" value="Удалить" id="delete-btn"/>
        </div>
        <div class="filters">
            <form method="get">
                <div class="form-inline">

                    <p1 class="p1">Организация: </p1>
                    <select name="company" asp-items="Model.FilterViewModel.Organisations" class="form-control"></select>

                    <input type="submit" value="Применить фильтр" class="btn btn-outline-dark" />
                </div>
            </form>
        </div>
    </div>

    <table class="table">
        <tr class="p1 intable">
            <th></th>
            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.LastNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Фамилия</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.FirstNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Имя</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.MiddleNameSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Отчество</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.OrganisationSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Организация</p></a>
            </th>

            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.EmailSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">E-mail</p></a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-controller="User"
                   asp-route-sortOrder="@(Model.SortViewModel.UserRoleSort)"
                   asp-route-name="@(Model.FilterViewModel.SelectedName)"
                   asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"><p class="p1">Группа</p></a>
            </th>


        </tr>


        @foreach (User u in Model.Users)
        {
            <tr>
                <td><input type="checkbox" id="@u.UserId" class="chbx" /></td>
                <td>@u.LastName</td>
                <td>@u.FirstName</td>
                <td>@u.SurName</td>
                <td>@u.Organisation.OrgName</td>
                <td>@u.Email</td>
                <td>@u.UserRole.GetEnumDescription()</td>
            </tr>
        }

    </table>
</div>

@if (Model.PageViewModel.HasPreviousPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn  btn-outline-dark">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (Model.PageViewModel.HasNextPage)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
       asp-route-name="@(Model.FilterViewModel.SelectedName)"
       asp-route-company="@(Model.FilterViewModel.SelectedOrganisation)"
       asp-route-sortorder="@(Model.SortViewModel.Current)"
       class="btn btn-outline-dark">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}

@section Scripts{

    <script>

        $(document).ready(function () {

            var element;
            $(".edit-button").hide();
            $(".delete-button").hide();
            $("input[type=checkbox]").change(function () {
                element = $(this).attr("id");
                if (this.checked) {
                    $(".edit-button").show();
                    $(".delete-button").show();
                    $(".chbx").hide();
                    $(this).show();
                }
                else {
                    $(".chbx").show();
                    $(".edit-button").hide();
                    $(".delete-button").hide();
                }
            });

            $("#delete-btn").click(function () {
                $.ajax({
                    url: '/User/DeleteUser/',
                    type: 'POST',
                    dataType: 'html',
                    data: { id: element },
                    success: onSuccess
                });
            });

            function onSuccess(data) {
                $(document).on("ajaxSuccess", function () {
                    alert(data.newData.emailMessage);
                    window.location = data.newData.url;
                });
            }



            $("#test").click(function () {

                alert(window.location.href);
               

            });

        });

    </script>
}



