@using WebTestOfVMC.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<OperatorInfo>

<div class="text-center">
    <table class="table">
        <tr>
            @*<th>Id</th>*@
            <th>Организация</th>
            <th>Фамилия</th>
            <th>Имя</th>
            <th>Отчество</th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                 
                 @*<td>@d.OperatorId</td>*@
                 <td>@d.Organisation.OrgName</td>
                 <td>@d.LastName</td>
                 <td>@d.FirstName</td>
                 <td>@d.MiddleName</td>
                 <td>@Html.ActionLink("Информация", "GetWideInfo", "Operator", new { Id = d.OperatorId }, new { type = "button", @class = "btn btn-success" })</td>
                
            </tr>

        }
    </table>
</div>