@using WebTestOfVMC.Models
@using EnumExt;
@using Services;
@using Microsoft.AspNetCore.Mvc.Rendering;
@model OperatorInfo


<div>
    <p>Id: @Html.HiddenFor(Model => Model.OperatorId)</p>
    <p>Фамилия:  @Html.DisplayFor(Model => Model.LastName)
    <p>Имя:  @Html.DisplayFor(Model => Model.FirstName)</p>
    <p>Отчество:  @Html.DisplayFor(Model => Model.MiddleName)</p>
    <p>Дата приема на работу:  @Model.HireDate.ToShortDateString()</p>
    <p> Дата увольнения: @Model.DismissalDate</p>
    <p>Квалификация:  @Model.Qualification.GetEnumDescription()</p>
    <p>Действующие курсы повышения квалификации:  @Model.LastQualificationTraning.ToShortDateString()</p>
    <p>Закрепленное оборудование: @Model.Defectoscope.DefectoScopeType.GetEnumDescription()</p>
</div>


<div>
    @*@using (Html.BeginForm("UpdateOpp", "Operator", FormMethod.Post, new {id = Model.OperatorId}))
        {
               @Html.ValidationSummary()
               @Html.HiddenFor(@model => model.OperatorId)

           <div class="form-group">
               @Html.EditorFor(@model => @model.FirstName)
               @Html.ValidationMessageFor(@model => @model.FirstName)

           </div>

           <div class="form-group">
               @Html.EditorFor(@model => @model.LastName)
               @Html.ValidationMessageFor(@model => @model.LastName)
           </div>

               <input type="submit" class="btn btn-success" />
        }*@
</div>


<form asp-action="UpdateOpp" asp-controller="Operator" data-ajax="true"
      data-ajax-method="POST" data-ajax-success="onSuccess">

    @Html.HiddenFor(@model => model.OperatorId)

    <div class="form-group">
        @Html.LabelFor(Model => Model.FirstName)
        @Html.EditorFor(Model => Model.FirstName)
        @Html.ValidationMessageFor(Model => Model.FirstName)
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.LastName)
        @Html.EditorFor(Model => Model.LastName)
        @Html.ValidationMessageFor(Model => Model.LastName)
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.MiddleName)
        @Html.EditorFor(Model => Model.MiddleName)
        @Html.ValidationMessageFor(Model => Model.MiddleName)
    </div>

    <div class="form-group">

        @Html.LabelFor(Model => Model.DismissalDate, new { @class = "col-2 col-form-label" })
        @Html.TextBoxFor(@model => @model.DismissalDate, "{0:dd/MM/yyyy}")
    </div>

    <div class="form-group">
        @Html.LabelFor(Model => Model.Defectoscope.DefectoScopeType, new { @class = "col-2 col-form-label" })
        @Html.DropDownListFor(Model => Model.Defectoscope.DefectoScopeType,
                                            Model.SelectList = Model.Defectoscope.DefectoScopeType.GetSelectList())
    </div>

    


    <div class="form-group">
        <p>Уволен?</p>
        <div id="dismissal">
           
        </div>
    </div>

    <input type="submit" class="btn btn-success" id="btsubmit" />
</form>

<script>
    function onSuccess(data) {
        alert(data.newData.success);
        if (data.isDismiss == null) {
            $("#dismissal").html(data.dismissalTextMessage.no)
        }
        else {
            $("#dismissal").html(data.dismissalTextMessage.yes);
        }
    }
</script>