@using WebTestOfVMC.Models
@using EnumExt;
@model List<DefectInfo>

<div class="text-center">
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Дата обнаружения</th>
            <th>Звено</th>
            <th>Год изготовления</th>
            <th>Глубина дефекта</th>
            <th>Проятженность дефекта</th>
            <th>Код дефекта</th>
            <th>КМ</th> 
            <th>ПК</th>

            <th></th>
        </tr>
        @foreach (var d in Model)
        {
            <tr>
                <td>@d.DefectId</td>
                <td>@d.DateOfDetection.ToShortDateString()</td>
                <td>@d.Path</td>
                <td>@d.ManufactureYear</td>
                <td>@d.DefectDepth</td>
                <td>@d.DefectLenght</td>
                <td>@d.DefectCode</td>
                @*<td>@d.Kilometer</td>
                <td>@d.Pkt</td>*@
                <td>@d.WaySide.GetEnumDescription()</td>
               
            </tr>
            

        }
    </table>
</div>